.top-bar{
    display: flex;
}

.top-link{
    margin: 5px 5px 0 0;
    text-decoration: none;
}

.push{
    margin-left:auto;
}

.main-logo{
    display: flex;
    justify-content: center;
    margin: 100px 0 20px 0;
}

.search-bar{
    display:flex;
    justify-content: center;
}

.bottom-links{
    display:flex;
    justify-content: center;
}

.footer{
    display: flex;
    position: absolute;
    bottom: 25px;
    width: 98%;
}

.footer-link{
    margin-right: 5px;
    margin-top: 10px;
    text-decoration: none;
}