.top-bar{
    display: flex;
}

.top-link{
    margin: 5px 5px 0 0;
}

.push{
    margin-left:auto;
}

.main-logo{
    display: flex;
    justify-content: center;
    margin: 100px 0 20px 0;
}

.search-bar{
    display:flex;
    justify-content: center;
}

.bottom-links{
    display:flex;
    justify-content: center;
}